body {
    font-family: serif;
    margin: 0;
}

.container {
    margin: 0px 165px;
}
header {
    padding-bottom: 35px;
    padding-top: 36px;
    background-image: url(/images/placeholder.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    font-family: HelveticaNeueBold, serif;
    color: white;
    justify-content: space-between;
}

.screen {
}
.menu {
    display: flex;
}
.menu li {
    list-style-type: none;
}
.menu a {
    color: white;
    margin-right: 45px;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    transition: color 0.2s linear;
}
.menu a:hover {
    color: #34C759;
}

/*font links*/
@font-face {
    font-family: "HelveticaNeue"; 
    src: url("fonts/HelveticaNeue.ttf"); 
    } 
@font-face {
    font-family: "HelveticaNeueLt"; 
    src: url("fonts/HelveticaNeueLt.ttf"); 
    } 
@font-face {
    font-family: "HelveticaNeueBold"; 
    src: url("fonts/HelveticaNeueBd.ttf"); 
    } 